*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* สไตล์สำหรับแถบค้นหา */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 200px;
    font-size: 1em;
}

.search-bar button {
    background-color: #9a5500;;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #ffbf00;
}

/* ปรับตำแหน่งแถบค้นหาใน header */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .search-bar {
    margin: 0 20px; /* เพิ่มระยะห่างจากโลโก้และเมนู */
}

/* ปรับ flex-grow ของ navigation เพื่อจัดตำแหน่ง */
header nav {
    flex-grow: 1;
    text-align: right; /* จัดเมนูไปทางขวา */
}

header nav ul {
    justify-content: flex-end; /* จัดรายการเมนูไปทางขวา */
}